Repository kjanat/zig-wasm: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json

# Lefthook configuration for zig-wasm monorepo
# https://github.com/evilmartians/lefthook
---
pre-commit:
  piped: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm lint:fix
      stage_fixed: true
      priority: 1

    format:
      glob: "*.{ts,tsx,js,jsx,json,md,zig}"
      run: pnpm fmt:staged {staged_files}
      stage_fixed: true
      priority: 2

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      priority: 3

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test

feat(test-vectors): Adds deterministic test vectors and generator
  build.zig
  package.json
  packages/crypto/__tests__/fixtures/test-vectors.json
  packages/crypto/__tests__/sync-variants.test.ts
  packages/hash/__tests__/fixtures/test-vectors.json
  packages/hash/__tests__/sync-variants.test.ts
  zig/tools/gen_test_vectors.zig
Due: lint, format, typecheck

test: improves test cleanup with try/finally
  internal/tooling/__tests__/check-published.test.ts
Due: lint, format, typecheck

fix(tooling): improve CLI robustness and security
  internal/tooling/__tests__/check-published.test.ts
  internal/tooling/bin/check-published.sh
  internal/tooling/bin/sync-versions.sh
  internal/tooling/src/check-published.ts
  internal/tooling/src/cli.ts
  internal/tooling/src/messages.ts
Due: lint, format, typecheck

fix(tooling): use cross-platform root detection in findMonorepoRoot
  internal/tooling/src/monorepo.ts
Due: lint, format, typecheck

chore: add --allow-no-files to package fmt scripts
  internal/tooling/package.json
  packages/base64/package.json
  packages/compress/package.json
  packages/core/package.json
  packages/crypto/package.json
  packages/hash/package.json
  packages/math/package.json
  packages/std/package.json
Due: format

fix(tooling): always resolve syncVersions from monorepo root
  internal/tooling/src/sync-versions.ts
Due: lint, format, typecheck

fix(test): aligns expected hex with no-padding data
  packages/base64/__tests__/coverage.test.ts
Due: lint, format, typecheck

fix(compress): test now actually induces and recovers from init failure
  packages/compress/__tests__/initialization.test.ts
Due: lint, format, typecheck

refactor(test): remove redundant package prefixes from test descriptions
  packages/base64/__tests__/coverage.test.ts
  packages/base64/__tests__/initialization.test.ts
  packages/compress/__tests__/exports.test.ts
  packages/compress/__tests__/initialization.test.ts
  packages/crypto/__tests__/exports.test.ts
  packages/crypto/__tests__/initialization.test.ts
  packages/crypto/__tests__/sync-variants.test.ts
  packages/hash/__tests__/edge-cases.test.ts
  packages/hash/__tests__/initialization.test.ts
  packages/hash/__tests__/sync-variants.test.ts
  packages/math/__tests__/exports.test.ts
  packages/math/__tests__/initialization.test.ts
  packages/math/__tests__/sync-variants.test.ts
Due: lint, format, typecheck

fix(core): add input validation and overflow protection to LEB128 functions
  packages/core/__tests__/leb128.test.ts
  packages/core/src/leb128.ts
Due: lint, format, typecheck

style: sort tsconfigs
  internal/tooling/tsconfig.json
  packages/base64/tsconfig.json
  packages/compress/tsconfig.json
  packages/core/tsconfig.json
  packages/crypto/tsconfig.json
  packages/hash/tsconfig.json
  packages/math/tsconfig.json
  packages/std/tsconfig.json
Due: format

fix(core): add bounds checking to parseWasmSections for malformed WASM
  packages/core/__tests__/wasm-binary.test.ts
  packages/core/src/wasm-binary.ts
Due: lint, format, typecheck

refactor(test): replace unsafe type casts with defensive helpers in hash/crypto tests
  packages/crypto/__tests__/sync-variants.test.ts
  packages/hash/__tests__/sync-variants.test.ts
Due: lint, format, typecheck

docs: add Zig docs reference in AGENTS.md
  AGENTS.md
Due: format

refactor(zig): modularize math module and add documentation
  packages/math/src/index.ts
  packages/math/src/math.ts
  packages/math/src/types.ts
  zig/src/allocator.zig
  zig/src/base64.zig
  zig/src/compress.zig
  zig/src/crypto.zig
  zig/src/hash.zig
  zig/src/math.zig
  zig/src/math/arithmetic.zig
  zig/src/math/bits.zig
  zig/src/math/constants.zig
  zig/src/math/exp_log.zig
  zig/src/math/float.zig
  zig/src/math/hyperbolic.zig
  zig/src/math/integer.zig
  zig/src/math/power.zig
  zig/src/math/rounding.zig
  zig/src/math/special.zig
  zig/src/math/trig.zig
Due: lint, format, typecheck

fix(vitest): use glob package for Node 20 compatibility
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: lint, format, typecheck

feat: enables debug output in CI
  internal/tooling/bin/check-published.sh
  internal/tooling/bin/sync-versions.sh
Due: none

ci: switch codecov upload action to non-deprecated verison
  .github/workflows/ci.yml
Due: none

feat(math): add test vector generator and fixture-based tests
  build.zig
  packages/math/__tests__/fixtures/test-vectors.json
  packages/math/__tests__/new-functions.test.ts
  packages/math/src/math.ts
  zig/tools/gen_test_vectors.zig
  zig/tools/gen_vectors/common.zig
  zig/tools/gen_vectors/crypto.zig
  zig/tools/gen_vectors/hash.zig
  zig/tools/gen_vectors/math.zig
Due: lint, format, typecheck

chore: add review stuff to gitignore
  .gitignore
Due: none
