Repository kjanat/zig-wasm: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, lint, typecheck

format-check:
  run: pnpm fmt:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

fix(core): use ArrayBuffer in wasmUrl test fetchFn
  packages/core/tests/wasm-module.test.ts
Due: format-check, lint, typecheck

fix(ci): correct WASM artifact paths
  .github/actions/build-wasm/action.yml
  .github/actions/download-artifacts/action.yml
  .github/workflows/ci.yml
Due: none

fix(ci): add Zig setup to lint job for dprint formatting
  .github/workflows/ci.yml
Due: none

fix(ci): add --ignore-scripts to all jobs using WASM artifacts
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  lefthook.yml
  packages/base64/tests/initialization.test.ts
  packages/math/tests/initialization.test.ts
  packages/math/tests/sync-variants.test.ts
Due: format-check, lint, typecheck

chore(ci): add debug step for artifact download
  .github/workflows/ci.yml
Due: none

fix(ci): download WASM artifacts to packages/ directory
  .github/workflows/ci.yml
Due: none

fix(ci): move WASM output to packages/*/wasm/ and fix typecheck
  .github/actions/build-wasm/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .opencode/tool/cicd.ts
  .opencode/tool/github.ts
  build.zig
  packages/base64/package.json
  packages/base64/src/base64.ts
  packages/compress/package.json
  packages/compress/src/compress.ts
  packages/crypto/package.json
  packages/crypto/src/crypto.ts
  packages/hash/package.json
  packages/hash/src/hash.ts
  packages/hash/tests/exports.test.ts
  packages/hash/tests/sync-variants.test.ts
  packages/math/package.json
  packages/math/src/math.ts
  tsdown.config.ts
Due: format-check, lint, typecheck

fix(lint): resolve unused variables and approximative constants in tests
  packages/core/tests/env.test.ts
  packages/core/tests/memory.test.ts
  packages/math/tests/exports.test.ts
Due: format-check, lint, typecheck

fix(base64): add missing decode_len exports for no-padding/URL variants
  packages/base64/tests/initialization.test.ts
  zig/src/base64.zig
Due: format-check, lint, typecheck

test(hash): skip flaky performance comparison test
  packages/hash/tests/exports.test.ts
Due: format-check, lint, typecheck

feat(ci): centralize config in package.json with dynamic matrix and artifact outputs
  .github/actions/build-full/action.yml
  .github/actions/build-wasm/action.yml
  .github/actions/download-artifacts/action.yml
  .github/actions/read-config/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
Due: format-check

fix(base64): pass destLen to WASM decode functions
  .github/actions/read-config/action.yml
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/base64/src/base64.ts
  packages/base64/src/types.ts
  packages/core/tsdown.config.ts
  packages/std/tsdown.config.ts
  pnpm-lock.yaml
  tsdown.config.ts
  vitest.config.ts
Due: format-check, lint, typecheck

ci: add checks:write permission for annotations
  .github/workflows/ci.yml
Due: none

ci: restore read-all default, add checks:write only to test job
  .github/workflows/ci.yml
Due: none

ci: fix coverage upload - use pnpm -r for arg passthrough, update test-results-action
  .github/workflows/ci.yml
Due: none

cd: add build:ts step before tests to fix @zig-wasm/core resolution
  .github/workflows/cd.yml
Due: none

cd: remove redundant build:ts - artifacts already include dist
  .github/workflows/cd.yml
Due: none

cd: add debug step to list downloaded artifacts
  .github/workflows/cd.yml
Due: none

cd: expand debug output
  .github/workflows/cd.yml
Due: none

cd: fix artifact download path - download to packages/ not root
  .github/workflows/cd.yml
Due: none

chore: add JSR license metadata, refactor CD gate to github-script, upload coverage from all Node versions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .zed/settings.json
  dprint.jsonc
  internal/tooling/jsr.json
  internal/tooling/package.json
  packages/base64/jsr.json
  packages/compress/jsr.json
  packages/core/jsr.json
  packages/crypto/jsr.json
  packages/hash/jsr.json
  packages/math/jsr.json
  packages/std/jsr.json
Due: format-check

refactor: replace path aliases with direct imports for tsdown config
  internal/tooling/biome.json
  internal/tooling/tsdown.config.ts
  packages/base64/package.json
  packages/base64/tsconfig.json
  packages/base64/tsdown.config.ts
  packages/compress/package.json
  packages/compress/tsconfig.json
  packages/compress/tsdown.config.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsdown.config.ts
  packages/crypto/package.json
  packages/crypto/tsconfig.json
  packages/crypto/tsdown.config.ts
  packages/hash/package.json
  packages/hash/tsconfig.json
  packages/hash/tsdown.config.ts
  packages/math/package.json
  packages/math/tsconfig.json
  packages/math/tsdown.config.ts
  packages/std/package.json
  packages/std/tsconfig.json
  packages/std/tsdown.config.ts
  pnpm-lock.yaml
  tsdown.config.ts
Due: format-check, lint, typecheck

ci: specify shell for pnpm npm update
  .github/actions/setup-pnpm/action.yml
Due: none

ci: disable pkg-pr-new compact preview
  .github/workflows/cd.yml
Due: none

fix: include wasm files in JSR publish config
  .github/workflows/cd.yml
  packages/base64/jsr.json
  packages/compress/jsr.json
  packages/crypto/jsr.json
  packages/hash/jsr.json
  packages/math/jsr.json
  packages/std/jsr.json
  tsdown.config.ts
Due: format-check, lint, typecheck

fix: use exclude negation to un-gitignore wasm files for JSR
  packages/base64/jsr.json
  packages/compress/jsr.json
  packages/crypto/jsr.json
  packages/hash/jsr.json
  packages/math/jsr.json
  packages/std/jsr.json
  tsdown.config.ts
Due: format-check, lint, typecheck

chore: inject jsr imports and order publish
  .github/workflows/cd.yml
  internal/tooling/jsr.json
  packages/base64/jsr.json
  packages/compress/jsr.json
  packages/crypto/jsr.json
  packages/hash/jsr.json
  packages/math/jsr.json
  packages/std/jsr.json
  tsdown.config.ts
Due: format-check, lint, typecheck

docs: add comprehensive JSR module documentation to all packages
  internal/tooling/src/check-published.ts
  internal/tooling/src/index.ts
  internal/tooling/src/sync-versions.ts
  packages/base64/src/base64.ts
  packages/base64/src/index.ts
  packages/base64/src/types.ts
  packages/compress/src/compress.ts
  packages/compress/src/index.ts
  packages/compress/src/types.ts
  packages/core/src/env.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/loader.ts
  packages/core/src/memory.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  packages/core/src/wasm-module.ts
  packages/crypto/src/crypto.ts
  packages/crypto/src/index.ts
  packages/crypto/src/types.ts
  packages/hash/src/hash.ts
  packages/hash/src/index.ts
  packages/hash/src/types.ts
  packages/math/src/index.ts
  packages/math/src/math.ts
  packages/math/src/types.ts
  packages/std/src/base64.ts
  packages/std/src/compress.ts
  packages/std/src/crypto.ts
  packages/std/src/hash.ts
  packages/std/src/index.ts
  packages/std/src/math.ts
Due: format-check, lint, typecheck

test: improve coverage and fix bugs across all packages
  internal/tooling/src/check-published.ts
  internal/tooling/src/sync-versions.ts
  internal/tooling/tests/check-published.test.ts
  internal/tooling/tests/sync-versions.test.ts
  packages/base64/src/base64.ts
  packages/base64/tests/coverage.test.ts
  packages/compress/tests/initialization.test.ts
  packages/core/tests/env.test.ts
  packages/core/tests/loader.test.ts
  packages/core/tests/memory.test.ts
  packages/core/tests/utils.test.ts
  packages/core/tests/wasm-module.test.ts
  packages/crypto/tests/initialization.test.ts
  packages/hash/src/hash.ts
  packages/hash/tests/edge-cases.test.ts
  packages/hash/tests/exports.test.ts
  packages/hash/tests/initialization.test.ts
  packages/hash/tests/sync-variants.test.ts
  packages/math/tests/exports.test.ts
  packages/math/tests/sync-variants.test.ts
  zig/src/math.zig
Due: format-check, lint, typecheck

refactor(hash): use NotInitializedError.name for type-safe error checking
  packages/hash/tests/initialization.test.ts
Due: format-check, lint, typecheck

chore: add root-level vitest scripts for unified test running
  package.json
Due: format-check

fix(vitest): exclude package.json from coverage reports
  vitest.config.ts
Due: format-check, lint, typecheck

feat(tests): add WASM fixture generator and validator
  .gitignore
  .opencode/agent/zed.md
  .opencode/opencode.jsonc
  .zed/settings.json
  dprint.jsonc
  packages/core/tests/scripts/generate-wasm-binaries.py
Due: format-check

chore(lefthook): update pre-push test to use --run
  lefthook.yml
Due: none

fix: CI coverage steps
  .github/workflows/ci.yml
  package.json
Due: format-check

test: import @zig-wasm/hash in tests
  packages/hash/__tests__/edge-cases.test.ts
  packages/hash/__tests__/exports.test.ts
  packages/hash/__tests__/initialization.test.ts
  packages/hash/__tests__/sync-variants.test.ts
Due: format-check, lint, typecheck

test: switch tests to tsconfig aliases
  packages/compress/__tests__/exports.test.ts
  packages/compress/__tests__/initialization.test.ts
  packages/core/__tests__/wasm-module.test.ts
  packages/crypto/__tests__/exports.test.ts
  packages/crypto/__tests__/initialization.test.ts
  packages/crypto/__tests__/sync-variants.test.ts
  packages/hash/__tests__/edge-cases.test.ts
  packages/hash/__tests__/sync-variants.test.ts
  packages/math/__tests__/exports.test.ts
  packages/math/__tests__/initialization.test.ts
  packages/math/__tests__/sync-variants.test.ts
  packages/std/__tests__/exports.test.ts
Due: format-check, lint, typecheck

Path conditions:
  format-check: any of: *.{ts,tsx,js,jsx,json,md,zig}
  lint: any of: *.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
